
.book {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
  width: 300px;
  height: 450px;
  margin: 50px;
  padding: 5px;
  list-style: none;
  background: radial-gradient(ellipse at center, #606c88 0%,#3f4c6b 100%);
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.15);
  transform: perspective(100px) rotateY(-3deg);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  &:hover {
    cursor: grab;
    opacity: 0.95;
    transform: perspective(80px) rotateY(-3deg);
  }
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 2%;
    z-index: -1;
    height: 96%;
  }
  &::before {
    left: 7.5%;
    width: 100%;
  }
  &::after {
    left: 100%;
    width: 5%;
    background-color: #EFEFEF;
    box-shadow: inset 0px 0px 5px #aaa;
    transform: perspective(100px) rotateY(20deg);
  }
  &__title,
  &__author {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
  }

  &__title {
    margin: 0 0 0 20px;
    position: relative;
    color: #fff;
    text-align: left;
    line-height: 1.2;
    font-size: 2.4em;
  }
  &__author {
    margin: 10px 0 0 20px;
    line-height: 2;
    color: #ede;
    text-transform: uppercase;
    font-weight: bold;
  }
}